<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Node File upoads</title>
</head>
<body>
    <div class="container my-3">
        <h1 style="color: green;">File upload</h1>
        <%= typeof msg!='undefined'?msg:''%>
        <form action="/upload" method="POST"
            enctype="multipart/form-data">
          <div class="input-group my-3">
            <input name="Image" type="file" class="form-control" id="inputGroupFile02">
            <label class="input-group-text" for="inputGroupFile02 btn btn-primary ">Upload</label>
          </div> 
          <button type="submit" class="btn btn-primary">Submit</button>
          <br>
          <img src="<%= typeof file!='undefined'?file:''%>" class="container my-3">
         
        </form>      
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>